*{
    font-family: 'Open Sans', sans-serif;
}
:root{
    --header: #1F1F1F;
    --mainColor: #EDAE49;
    --background: #121212;
    --button: #070707;
    --text: #E1E1E1;
    --noteText:#121212;
    --active: #363636;
    --scroll: #292929;
    --scrollHover: #3a3a3a;
    --search: #0e0e0e;
    --searchButton: #757575;
    --sideOptionBackground: #0e0e0e;
    --SubSideOptionBackground: #161616;
    --shadow: #000000;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--background);
    height:100vh;
}
/*Header*/
.header{
    width: 100%;
    height: 7rem;
    background-color: var(--header);
    color: var(--text);
    display:flex;
    position: fixed;
    z-index: 1;
    box-shadow: 2px 2px 6px var(--shadow);
}

.spacer{
    width: 100%;
    height: 7rem;
}

/*Header - Side bar button*/
.side-bar-button-wrap{
    flex: 1;
    display: flex;
    align-items: flex-end;
    padding: 0.5rem;
}

.side-bar-button{
    padding: 5px;
}

.side-bar-button:hover{
    cursor: pointer;
}

/*Header - Clock wrap*/
.clock{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 20px;
}

.time{
    font-size: 2rem;
    width: 85px;
}

.week-day{
    font-size: 1.3rem;
    width: 85px;
}

.day-month{
    font-size: 0.9rem;
    width: 85px;
}

/*Add Button*/
.create-button{
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 3rem;
    justify-items: flex-end;
    align-items: flex-end;
    
}

#add-button{
    font-size: 2.5rem;
    width: 4rem;
    height: 4rem;
    background-color: var(--button);
    border-color: transparent;
    color: var(--text);
    border-radius: 50%;
    outline: none;
    box-shadow: 2px 2px 10px var(--shadow);
    
}

#add-button:hover{
    background-color: var(--active);
    cursor: pointer;
}

#add-button:active{
    background-color: var(--header);
    cursor: pointer;
}

/*Side Bar*/
.side-bar{
    display: flex;
    flex-direction: column;
    position:fixed;
    height: 100%;
    width: 9rem;
    top:7rem;
    background-color: var(--header);
    transform: translatex(-100%);
    box-shadow: 2px 2px 6px var(--shadow);
    z-index: 1;
    transition: transform 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}


.side-option:hover{
    background-color: var(--active);
    cursor: pointer;    
}

.side-option:active{
    background-color: var(--active);    
}

#side-button{
    background-color: transparent;
    border: transparent;
    font-size: 1.5rem;
    color:var(--text);
    outline: none;
}

#side-button:hover{
    cursor: pointer;
}


.title{
    margin-left: 1rem;
    margin-right:1rem;
    text-align: center;
    display: block;
    min-height: 2rem;
    font-size: 1.4rem;
    margin-top: 1rem;
    font-weight: 600;
    color: var(--noteText);
    max-width: 275px;
    max-height: 92px;
    overflow: auto;
  }

.title:focus{
    outline: none;
}

.text{
    text-align: center;
    display: block;
    min-height: 1.6rem;
    font-size: 1rem;
    margin-top: 1rem;
    padding: 5px;
    color: var(--noteText);
    width: 19rem;
    max-height: 15rem;
    overflow: auto;
  

}

.text:hover{
   
}


.text:focus{
    outline: none;
}

.close{
    position: absolute;
    right: 0;
    color: var(--noteText);
    padding: 5px;
}

.close:hover{
    cursor: pointer;
}

.note{
    position: relative;
    min-width: 20rem;
    min-height: 20rem;
    max-height: 20rem;
    margin: 1rem 1rem;
    border-radius: 10px;
    overflow:hidden;
    box-shadow: 2px 3px 10px var(--shadow);
    background-color: var(--mainColor);
    
}

.notes-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 70rem;
    
}
.notes-wrap-wrap{
    display: flex;
    justify-content: center;
}

.expand{
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
    height: 2.5rem;
    bottom: 0;
}

.fa-times-circle{
    font-size: 1.3rem;
}



.fa-bars:hover{
    cursor: pointer;
}



.expand:hover{
    cursor: pointer;
}


::-webkit-scrollbar {
    width: 13px;
    height: 13px;
   }
   ::-webkit-scrollbar-thumb {
    background: var(--scroll);
    border-radius: 9px;
   }
   ::-webkit-scrollbar-thumb:hover{
    background: var(--scrollHover);
   }
   ::-webkit-scrollbar-track{
    background: var(--background);
    border-radius: 15px;
}


.resize{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2rem;
    border-radius: 5px;
}

.resize:hover{
    cursor: zoom-in;
}

.search-bar{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex:1;
}

.search{
    border-radius: 25px;
    height: 3rem;
    width: 20rem;
    text-align: center;
    background-color: var(--search);
    border:transparent;
    color:var(--text);
    font-size: 1.1rem;
}

.fa-bars{
    font-size: 1.5rem;
    position: absolute;
    z-index: 1;
    color: var(--searchButton);
    margin-left: 17.5rem;
}

.search:focus{
    outline:none;
}


ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    
}

.search-by-option{
    position: absolute;
    margin-top: 6.5rem;
    margin-left: 11.3rem;
    box-shadow: 2px 2px 5px var(--shadow);
    display: none;
    
}

.search-option{
    display: flex;
    padding: 8px;
    background-color: var(--sideOptionBackground);
    color: var(--text);
}

.search-option:hover, .active{
    cursor: pointer;
    background-color: var(--active); 
}



.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 24px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--mainColor);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--mainColor);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }



.side-option{
    background-color: var(--sideOptionBackground);
    margin:0;
    padding: 8px;
    text-align: center;
    color: var(--text);
}

.sub-side-option{       
    display: none;
    background-color: var(--SubSideOptionBackground);
    margin:0;
    padding: 8px;
    text-align: center;
    color: var(--text);
}

.sub-side-option:hover{
    background-color: var(--active);
    cursor: pointer;    
}

.sub-side-option:active{
    background-color: var(--active);    
}
