*{
    font-family: 'Open Sans', sans-serif;
}
:root{
    --veryLightBlue: #b5ccca;
    --lightBlue: #1F1F1F;
    --mediumBlue: #465362;
    --darkBlue: #292929;
    --lightGreen: #C0DFA1;
    --mediumGreen: #EDAE49;
    --noteShadow: #1f1f1f7c;
}
body{
    margin: 0;
    padding: 0;
    background-color: #121212;
    height: 1500px;
}
/*Header*/
.header{
    width: 100%;
    height: 7rem;
    background-color: var(--lightBlue);
    color:#E1E1E1;
    display:flex;
    position: fixed;
    z-index: 1;
    box-shadow: 2px 2px 6px #000000;
}

.spacer{
    width: 100%;
    height: 7rem;
}

/*Header - Side bar button*/
.side-bar-button-wrap{
    flex: 1;
    display: flex;
    align-items: flex-end;
    padding: 0.5rem;
}

.side-bar-button{
    padding: 5px;
}

.side-bar-button:hover{
    cursor: pointer;
}

/*Header - Clock wrap*/
.clock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 7.2rem;
}

.time{
    font-size: 2rem;
}

.week-day{
    font-size: 1.3rem;
}

.day-month{
    font-size: 0.9rem;
}

/*Add Button*/
.create-button{
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 3rem;
    justify-items: flex-end;
    align-items: flex-end;
    
}

#add-button{
    font-size: 2.5rem;
    width: 4rem;
    height: 4rem;
    background-color: var(--darkBlue);
    border-color: transparent;
    color: #E1E1E1;
    border-radius: 50%;
    outline: none;
    box-shadow: 2px 2px 10px #000000;
    
}

/*Side Bar*/
.side-bar{
    display: flex;
    flex-direction: column;
    position:fixed;
    height: 100%;
    width: 9rem;
    top:7rem;
    background-color: var(--lightBlue);
    transform: translatex(-100%);
    box-shadow: 2px 2px 6px #000000;
    z-index: 1;
}

.side-option{
    text-align: center;
    padding: 8px;
    background-color: #0e0e0e;
    color: #E1E1E1;
    
}

.side-option:hover{
    background-color: #252525;
    cursor: pointer;    
}

.side-option:active{
    background-color: #363636;    
}

#side-button{
    background-color: transparent;
    border: transparent;
    font-size: 1.5rem;
    color:#E1E1E1;
    outline: none;
}

#side-button:hover{
    cursor: pointer;
}


.title{
    margin-left: 1rem;
    margin-right:1rem;
    text-align: center;
    display: block;
    overflow: hidden;
    min-height: 2rem;
    font-size: 1.4rem;
    margin-top: 1rem;
    font-weight: 600;
    color:#121212;
  }

.title:focus{
    outline: none;
}

.text{
    text-align: center;
    display: block;
    overflow: hidden;
    min-height: 1.6rem;
    font-size: 1rem;
    margin-top: 1rem;
    padding: 5px;
    color:#121212;
  }

.text:focus{
    outline: none;
}

.close{
    position: absolute;
    right: 0;
    color: #121212;
    padding: 5px;
}



.note{
    position: relative;
    min-width: 20rem;
    min-height: 15rem;
    margin: 1rem 1rem;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 3px 10px #000000;
    background-color: var(--mediumGreen);
    transform: translateX(0%);
}

.notes-wrap{
    display: flex;
    flex-wrap: wrap;
    transform: translateX(0%);
    justify-content: center;
    
}

